{% extends "base_generic.html" %}

{% block content %}
  <h1>Airplane List</h1>
  {% if airplane_list %}
  <ul>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Airplane id</th>
          <th scope="col">Manufacturer</th>
          <th scope="col">Max Seats</th>
          <th scope="col">Type</th>
        </tr>
      </thead>
      {% for airplane in airplane_list %}
        <tbody>
          <tr>
            <th scope="row">{{airplane.airplane_id}}</th>
            <td>{{airplane.manufacturer}}</td>
            <td>{{airplane.max_seats}}</td>
            <td>{{airplane.type}}</td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
  </ul>
  {% else %}
    <p>There are no airplanes in the category.</p>
  {% endif %}
{% endblock %}
