{% extends "base_generic.html" %}
{% block content %}

<div class="container target">
  <div class="row">
    <h1>{{ object.c_first_name}} {{ object.c_last_name }}</h1>
  </div>
  <div class="row">
    <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/" alt="Profile image example" />
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="list-group">
        <ul class="list-group">
          <li class="list-group-item text-muted" contenteditable="false">Profile</li>
          <li class="list-group-item text-left"><span class="pull-left"><strong class="">Name: </strong></span> {{ object.c_first_name }} {{ object.c_last_name }}</li>
          <li class="list-group-item text-left"><span class="pull-left"><strong class="">Customer id: </strong></span> {{ object.cust_id }}</li>
          <li class="list-group-item text-left"><span class="pull-left"><strong class="">Address: </strong></span> {{ object.address }}, {{ object.city }}, {{ object.postal_code }}</li>
          <li class="list-group-item text-muted" contenteditable="false">Contact Details</li>
          <li class="list-group-item text-left"><span class="pull-left"><strong class="">Phone Number: </strong></span> {{ object.phone }}</li>
          <li class="list-group-item text-left"><span class="pull-left"><strong class="">Email: </strong></span> {{ object.email }}</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
