{% extends "base_generic.html" %}

{% block content %}
<h1>Customer List</h1>
{% if customer_list %}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Customer_id</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip Code</th>
      <th>Email</th>
      <th>Phone#</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customer_list %}
    <tr>
      <td><a href="{{ customer.cust_id }}">{{ customer.c_first_name}} {{customer.c_last_name}}</a>
      <th/ <td>{{customer.cust_id}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.city}}</td>
      <td>{{customer.postal_code}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.phone}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are no customers in the category.</p>
{% endif %}
{% endblock %}
