{% extends "base_generic.html" %}

{% block content %}
  <h1>Flight List</h1>
  {% if flight_list %}
  <ul>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Flight id</th>
          <th scope="col">Departure Airport</th>
          <th scope="col">Arrival Airport</th>
          <th scope="col">Airplane Id</th>
          <th scope="col">Customer Id</th>
          <th scope="col">Departure Time id</th>
          <th scope="col">Arrival Time</th>

        </tr>
      </thead>
      {% for flight in flight_list %}
        <tbody>
          <tr>
            <th scope="row">{{flight.flight_id}}</th>
            <td>{{flight.departure_airport}}</td>
            <td>{{flight.arrival_airport}}</td>
            <td>{{flight.airplane_id}}</td>
            <td>{{flight.cust_id}}</td>
            <td>{{flight.scheduled_dep_time}}</td>
            <td>{{flight.scheduled_arriv_time}}</td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
  </ul>
  {% else %}
    <p>There are no flights in the category.</p>
  {% endif %}
{% endblock %}
